body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
}
:root {
  --主题色: rgb(155, 144, 194);
  --shikon: rgb(60, 47, 65);
  --usu: rgb(178, 143, 206);
  --benifuji: rgb(180, 129, 187);
  --紫苑: rgb(143, 119, 181);
  --桔梗: rgb(106, 76, 156);
  --江户紫: rgb(119, 66, 141);
  --菖蒲:rgb(111, 51, 129);
  --深紫: rgb(74, 34, 93);
  --次要: #b5b5b5;
  --分割线: #e5e5e5;
  --字体大小-标准: 36px;
  --字体大小-较大: 48px;
  --字体大小-较小: 24px;
  --背景: rgba(60, 47, 65, .2);
}
